@{
    ViewData["Title"] = "Flights";
}

<table id="flightsTable" class="table table-bordered" width="100%">
    <thead>
        <tr>
            <th>Origin City</th>
            <th>Origin IATA Code</th>
            <th>Destination City</th>
            <th>Destination IATA Code</th>
            <th>Cost</th>
        </tr>
    </thead>
</table>

<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(() => {
            $("#flightsTable").DataTable({
                "ajax": {
                    "url": "/Flights/Data",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "origin.city" },
                    { "data": "origin.iataCode" },
                    { "data": "destination.city" },
                    { "data": "destination.iataCode" },
                    { "data": "cost" }
                ],
                "columnDefs": [
                    // Render cost in currency format
                    {
                        "render": (data, type, row) =>
                            data.toLocaleString("en-CA", { style: "currency", currency: "CAD" }),
                        "targets": 4
                    }
                ]
            });
        });
    </script>
}