@model CheapFlights.Models.SearchViewModel

@{
    ViewData["Title"] = "Search";
}

<form asp-action="Search" asp-asp-controller="Flights" method="POST" 
    data-ajax="true" data-ajax-mode="replace" data-ajax-update="#itineraries"
    id="searchForm">

    <div class="form-row">
        <div class="col-sm-5 pb-2">
            @Html.DropDownListFor(
                m => m.SelectedOriginId, 
                new SelectList(Model.Airports, "IataCode", "City"),
                "-- Select Origin --",
                new {
                    @class = "custom-select" 
                })
            @Html.ValidationMessageFor(m => m.SelectedOriginId)
        </div>
        <div class="col-sm-5 pb-2">
            @Html.DropDownListFor(
                m => m.SelectedDestinationId, 
                new SelectList(Model.Airports, "IataCode", "City"),
                "-- Select Destination --",
                new {
                    @class = "custom-select" 
                })
            @Html.ValidationMessageFor(m => m.SelectedDestinationId)
        </div>
        <div class="col-sm-2 pb-2">
            <button type="submit" class="use-ajax btn btn-primary btn-block">Search</button>
        </div>
    </div>
</form>

@* gets populated by  *@
<div id="itineraries"></div>

@section scripts{ 
    <script>
        
    </script>
}